//<Mixins>===============================================================================================
@import "mixins";
//</Mixins>===============================================================================================

//<Fonts>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Fonts>=======================================================================================

//<Icons font>==========================================================================================
//@import "icons";
//</Icons font>==========================================================================================

//<Initial Font>==========================================================================================
$fontFamily: 'Inter-regular', sans-serif;
//</Initial Font>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<vars>===========================================================================================================
@import "vars";
//</vars>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
  color: $text;
  font-size: 16px;

  &._lock {
    overflow: hidden;
  }
}

section {
  margin: 100px 0px;

  &:first-child {
    margin: 0;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<Button>===========================================================================================================

//</Button>===========================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {
  }
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  position: relative;
  max-width: 758px;
  margin: 0 auto;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "tabs";
// @import "spollers";
// @import "popup";
@import "header";
@import "footer";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.benefits-wrapper {
  display: grid;
  grid-template-columns: 262px 495px;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
  border: 1px solid rgba(50, 59, 75, 0.4);
}

.hero-section__content{
  position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

.benefits {
  padding-top: 41px;
  position: relative;

  &__left {
    padding-top: 41px;
    border-right: 1px solid rgba(50, 59, 75, 0.4);
    @media (max-width: 800px) {
      border-bottom: 1px solid rgba(50, 59, 75, 0.4);
      border-right: 1px solid white;
    }

    li {
      list-style: none;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__right {
    list-style: none;
    padding-top: 32px;
    padding-left: 52px;
    padding-bottom: 23px;
    @media (max-width: 800px) {
      padding: 20px 0;
      margin: auto;
    }
  }
}

.benefits-title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: lighten(#323B4B, 20%);
  font-weight: bold;
  padding-bottom: 17px;
}

.benefits-content {
  li {
    margin-bottom: 17px;
    line-height: 24px;
    @media (max-width: 390px) {
      font-size: 12px;
    }

    img {
      margin-right: 15px;
    }
  }
}

.form-wrapper {
  padding-top: 50px;
}

.form-title {
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  color: #323B4B;
  @media (max-width: 610px){
    font-size: 20px;
  }
}

.form {
  padding-top: 30px;

  &__user {
    border: 1px solid #DADFE7;
    border-radius: 8px;
    max-width: 406px;
    margin: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 24px;

    img {
      margin-right: 13px;
      margin-left: 13px;
    }

    input {
      font-size: 12px;
      line-height: 29px;

      &::placeholder {
        color: #B0B7C3;
      }
    }
  }

  &__email {
    border: 1px solid #DADFE7;
    line-height: 29px;
    border-radius: 8px;
    max-width: 406px;
    margin: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #0077ff;

    img {
      margin-right: 13px;
      margin-top: 7px;
      margin-left: 13px;
    }

    input {
      font-size: 12px;
      line-height: 29px;

      &::placeholder {
        color: #B0B7C3;
      }
    }
  }
}

.continue-button{
  padding-top: 35px;
  text-align: center;
  position: relative;
}

.arrow{
  position: absolute;
  right: 15px;
  top: 20px;
}

.button {
  color: #ffffff;
  padding: 16px 95px;
  border-radius: 8px;
  font-size: 22px;
  line-height: 26px;
  display: inline-flex;
  align-items: center;
  transition: .3s ease;
  cursor: pointer;
  position: relative;
  @media (max-width: 370px){
    padding: 16px 75px;
  }
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.form-subtitle{
  padding-top: 110px;
	padding-bottom: 80px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  @media (max-width: 410px){
    a{
			display: inline-block;
		}
  }
  color: lighten(#323B4B, 20%);
  a{
    color: lighten(#323B4B, 20%);
    border-bottom: 2px solid lighten(#323B4B, 20%);
    @media (max-width: 410px){
      border-bottom: 1px solid lighten(#323B4B, 20%);
    }
  }
}

.arrow-bg{
  position: absolute;
  top: 270px;
  left: -120px;
  @media (max-width: 1000px){
    display: none;
  }
}

.check-div{
  text-align: center;
  padding-top: 30px;
}

.checkbox-wrapper{
  display: inline-flex;
  align-items: center;
  color: $text;
  .text{
    text-align: left;
    font-size: 14px;
  }
}
.fake{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border: 1px solid #DADFE7;
  position: relative;
  border-radius: 4px;
  transition: .3s ease;
  margin-right: 10px;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #5EBE38;
    opacity: 0;
    transition: .3s ease;
  }
  .check{
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 12px;
  }
}
.checkbox{
  display: none;
  &:checked + .fake{
    border-color: #5EBE38;
    &:before{
      opacity: 1;
    }
    .check{
      opacity: 1;
    }
  }
}


