<header class="header">
	<a href="index.html" class="header__logo">
		<img src="img/logo.png" alt="logo">
	</a>
		<!-- <li>
			<a href="#" class="header__menu-link">Item Select</a>
			<span class="menu__arrow"></span>
			<ul class="menu__sub-list">
				<li><a href="#" class="menu__sub-link">Sub Item Select 2</a></li>
				<li><a href="#" class="menu__sub-link">Sub Item Select 3</a></li>
			</ul>
		</li> -->
		<div class="header-copy">
			<p>© 2021 Safebytes | SB Software Group LLC</p>
		</div>
</header>